<img src="/assets/img/hamburger.png" class="rounded mx-auto d-block" alt="hamburger" >

<h1 class="text-center">Eat Da Burger</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <ul class="list-items">
                {{#each  burgers}}
                    {{#unless devoured}}
                   <li><button data-id={{this.id}} class="devour-button">Devour</button>{{id}} {{burger_name}}</li> 
                    {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col-sm-2">
            <ul>
                {{#each burgers}}
                    {{#if devoured}}
                        <li>{{id}} {{burger_name}}</li>
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
        <form class="mx-auto" style="width: 285px;"  id="burger-form">
            <div class="form-group">
            <label for="user-input"></label>
            <textarea class="form-control" id="user-input1" rows="2"></textarea>
            </div>
            <button type="submit" id="submit-button" class="btn btn-secondary">Submit</button>
            
        </form>

    </div>

    <script>

        $(function() {
            $("#burger-form").on("submit", function(event) {
               event.preventDefault();
                console.log("add burger");
               var newBurger = {
                   burger_name: $("#user-input1").val().trim(),
                   devoured: 0
               };

               console.log("newBurger", newBurger)
               

               $.ajax("/api/burgers", {
                   type: "POST",
                   data: newBurger
               }).then( 
                   function(data) {
                       console.log("new burger on menu");
                       location.reload(); 
                   }
               );
            });

            $(".devour-button").on("click", function(event) {
                event.preventDefault();
                console.log("devour button");

                var id = $(this).data("id");
                //var newDevour = $(this).data("newdevour");

                console.log("id", id)

                var newDevoured = { devoured: 1};
                

                $.ajax("/api/burgers/" + id, {
                    type: "PUT",
                    data: newDevoured
                }).then(
                    function(data) {
                        //console.log("that was a tasty burger");
                        location.reload();
                    }
                );
            });
        });

    </script>






